/*
 * dts file for Hisilicon HiKey960 Development Board
 *
 * Copyright (C) 2016, Hisilicon Ltd.
 *
 */

/dts-v1/;

#include "hi3660.dtsi"
/*#include "hi3660-ion.dtsi"*/
#include "hikey960-pinctrl.dtsi"

/ {
	model = "HiKey960";
	compatible = "hisilicon,hi3660-hikey960", "hisilicon,hi3660";

	aliases {
		mshc1 = &dwmmc1;
		mshc2 = &dwmmc2;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		serial6 = &uart6;
	};

	chosen {};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00400000 0x0 0xBFE00000>;
	};

	soc {
		uart5: serial@fdf05000 {
			status = "ok";
		};

		uart6: serial@fff32000 {
			status = "ok";
		};

		ufs: ufs@ff3b0000 {
			reset-gpio = <&gpio18 1 0>;
		};
	};
};
